@page "/TeamBuilder"

@using squittal.ScrimPlanetmans.Data.Models;
@using squittal.ScrimPlanetmans.ScrimMatch.Models;
@using squittal.ScrimPlanetmans.Services.ScrimMatch;
@using System.Text.RegularExpressions;

@inject IConstructedTeamService ConstructedTeamService

<div class="container-fluid">

    <div class="row">

        <div class="col-lg-4">

            <div class="header-card-container default">
                <h3>Team Builder</h3>

                @*<EditForm Model="@_inputTeamStringId" style="margin-top: 0.5rem;">*@
                <EditForm Model="@_inputTeamStringId" style="display: inline-block;">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div style="margin-bottom: 0.2rem;">
                        <p style="margin-bottom: 0.2rem;">Select Constructed Team: </p>

                        @*<InputSelect type="submit" style="margin-right: 5px; width: 250px; padding: 0.1rem;" @bind-Value=@i_teamStringId>
                            @*<InputSelect style="margin-right: 5px; width: 250px; padding: 0.1rem;" Value="@i_teamStringId" ValueChanged="@((string s) => HandleOnSelectTeamChange(s))" ValueExpression="@(() => i_teamStringId)">*@
                        <InputSelect style="margin-right: 5px; width: 250px; padding: 0.1rem;" Value="@_inputTeamStringId" ValueChanged="@((string s) => HandleOnSelectTeamChange(s))" ValueExpression="@(() => _inputTeamStringId)">
                            <option value=@_noTeamSelectedStringId>No Team</option>

                            @foreach (var team in _storedTeamsList)
                            {
                                <option value=@team.Id.ToString() label="@($"[{team.Alias}] {team.Name}")">[@team.Alias] @team.Name (@team.Id.ToString())</option>
                            }
                        </InputSelect>
                    </div>

                </EditForm>

                @if (!_showCreateNewTeamForm)
                {
                    @*<button class="btn btn-outline-primary" @onclick="ToggleCreateNewTeamFormVisibility" style="display: block; margin: 8px 0 16px 0; font-size: small;">*@
                    <button class="btn btn-outline-primary" @onclick="ToggleCreateNewTeamFormVisibility" style="display: inline-block; margin: 12px 0 16px 0; font-size: small;">
                        <span class="oi oi-plus"></span>Create New
                    </button>
                }

            </div>

            @*@if (_showCreateNewTeamForm)
                {
                    <div class="sq-mini-card-12 default">

                        <h5 class="default" style="color: var(--sq-ps2-primary); margin-bottom: 0.1rem;">
                            Team Creation Form
                        </h5>

                        <div class="sq-content">
                            <EditForm Model="@_newTeamForm" OnValidSubmit="HandleCreateNewTeamSubmit" style="margin-top: 0.5rem;">
                                <DataAnnotationsValidator />
                                <ValidationSummary />


                                <p style="margin-bottom: 0.5rem;">Name: <InputText id="inputTeamName" @bind-Value=@_newTeamForm.Name /></p>
                                <p style="margin-bottom: 0.5rem;">Alias: <InputText id="inputTeamAlias" @bind-Value=@_newTeamForm.Alias /></p>

                                <button type="submit" class="btn btn-primary" style="display: inline-block; margin: 8px 0;" >
                                    <span class="oi oi-check"></span>Save
                                </button>

                                <button @onclick="HandleCreateNewTeamCancel" class="btn btn-outline-primary" style="display: inline-block; margin: 8px 0;" title="Cancel creating new team">
                                    <span class="oi oi-x" style="top: 0;"></span>Cancel
                                </button>

                                <p style="margin: 8px 0; font-size: 0.9rem;">Open Team On Save? <InputCheckbox id="openNewTeamOnSave" @bind-Value="_openNewTeamOnSave" />@($"{(_openNewTeamOnSave ? " Yes" : " No")}")</p>

                            </EditForm>
                        </div>
                    </div>
                }*@

            <div class="sq-mini-card-12">
                <TeamConstructionLog />
            </div>

        </div>


        @if (_showCreateNewTeamForm)
        {
            <div class="col-lg-4">

                <div class="header-card-container default">

                    <h5 class="default" style="margin-bottom: 0.1rem;"> @*color: var(--sq-ps2-primary);*@
                        Team Creation Form
                    </h5>

                    <div class="sq-content">
                        <EditForm Model="@_newTeamForm" OnValidSubmit="HandleCreateNewTeamSubmit" style="margin-top: 0.5rem;">
                            <DataAnnotationsValidator />
                            <ValidationSummary />


                            <p style="margin-bottom: 0.5rem;">Name: <InputText id="inputTeamName" @bind-Value=@_newTeamForm.Name maxlength="50" pattern="^([A-Za-z0-9](\b \b){0,1}){1,49}[A-Za-z0-9]$"/></p>
                            <p style="margin-bottom: 0.5rem;">Alias: <InputText id="inputTeamAlias" @bind-Value=@_newTeamForm.Alias maxlength="4" pattern="^[A-Za-z0-9]{1,4}$"/></p>

                            <button type="submit" class="btn btn-primary" style="display: inline-block; margin: 8px 0;">
                                <span class="oi oi-check"></span>Save
                            </button>

                            <button @onclick="HandleCreateNewTeamCancel" class="btn btn-outline-primary" style="display: inline-block; margin: 8px 0;" title="Cancel creating new team">
                                <span class="oi oi-x" style="top: 0;"></span>Cancel
                            </button>

                            <p style="margin: 8px 0; font-size: 0.9rem;">Open Team On Save? <InputCheckbox id="openNewTeamOnSave" @bind-Value="_openNewTeamOnSave" />@($"{(_openNewTeamOnSave ? " Yes" : " No")}")</p>

                        </EditForm>
                    </div>
                </div>
            </div>
        }
        else if (!string.IsNullOrWhiteSpace(_inputTeamStringId))
        {
            <div class="col-lg-8">
                <ConstructedTeamBuilderForm_Edit i_teamId=@_renderedTeamId />
            </div>
        }

        @*<div class="col-lg-3">
            <TeamConstructionLog />
        </div>*@


    </div>

    @*<div class="row">
            <div class="col-lg-4">
                <ConstructedTeamBuilderForm_Edit i_teamId=@_renderedTeamId />
            </div>
        </div>*@

</div>

@*<p style="margin-bottom: 4px;">i_teamStringId: @i_teamStringId</p>
    <p style="margin-bottom: 4px;">_renderedTeamStringId: @_renderedTeamStringId</p>
    <p style="margin-bottom: 4px;">_debug: @_debug</p>*@


@code {
    [Parameter]
    public string i_teamStringId { get; set; }

    private string _renderedTeamStringId { get; set; }

    private string _inputTeamStringId { get; set; } = string.Empty;

    //public int i_teamId { get; set; }
    private int _renderedTeamId { get; set; }

    private string _noTeamSelectedStringId { get; set; } = "-1";
    private int _noTeamSelectedId { get; set; } = -1;

    [Parameter]
    public bool i_viewOnly { get; set; } = true;

    private bool _renderedViewOnly { get; set; } = true;

    private ConstructedTeamFormInfo _renderedTeam { get; set; } = new ConstructedTeamFormInfo();

    private IEnumerable<ConstructedTeam> _storedTeamsList { get; set; } = new List<ConstructedTeam>();


    private bool _showCreateNewTeamForm { get; set; } = false;
    private ConstructedTeam _newTeamForm { get; set; } = new ConstructedTeam();
    private bool _openNewTeamOnSave { get; set; } = true;

    private string _debug;

    #region Initialization Methods
    protected override async Task OnInitializedAsync()
    {
        _storedTeamsList = await ConstructedTeamService.GetConstructedTeams(true);
    }

    protected override void OnParametersSet()
    {
        var paramsChanged = false;

        _debug = $"Passed through OPSA 1 (i_teamStringId == {i_teamStringId} | _renderedTeamStringId == {_renderedTeamStringId})";


        if (i_teamStringId != _renderedTeamStringId)
        {
            _debug = $"Passed through OPSA 2 (i_teamStringId == {i_teamStringId} | _renderedTeamStringId == {_renderedTeamStringId})";

            _renderedTeamStringId = i_teamStringId;

            _renderedTeamId = GetTeamIdFromStringId(_renderedTeamStringId);

            paramsChanged = true;
        }

        if (i_viewOnly != _renderedViewOnly)
        {
            _renderedViewOnly = i_viewOnly;

            paramsChanged = true;
        }

        if (paramsChanged)
        {
            StateHasChanged();
            //// TODO: do I acutally need to use InvokeAsync here?
            //await InvokeAsync(() =>
            //{
            //    StateHasChanged();
            //});
        }
    }

    /*
    protected override async Task OnParametersSetAsync()
    {
        var paramsChanged = false;

        _debug = $"Passed through OPSA 3 (i_teamStringId == {i_teamStringId} | _renderedTeamStringId == {_renderedTeamStringId})";

        if (string.IsNullOrWhiteSpace(i_teamStringId))
        {
            i_teamStringId = _noTeamSelectedStringId;
        }
        if (string.IsNullOrWhiteSpace(_renderedTeamStringId))
        {
            _renderedTeamStringId = _noTeamSelectedStringId;
        }

        if (i_teamStringId != _renderedTeamStringId)
        {
            _debug = $"Passed through OPSA 4 (i_teamStringId == {i_teamStringId} | _renderedTeamStringId == {_renderedTeamStringId})";

            _renderedTeamStringId = i_teamStringId;

            _renderedTeamId = GetTeamIdFromStringId(_renderedTeamStringId);

            _renderedTeam = await ConstructedTeamService.GetConstructedTeamFormInfo(_renderedTeamId);

            paramsChanged = true;
        }

        if (i_viewOnly != _renderedViewOnly)
        {
            _renderedViewOnly = i_viewOnly;

            paramsChanged = true;
        }

        StateHasChanged();
        if (paramsChanged)
        {
            StateHasChanged();
            //// TODO: do I acutally need to use InvokeAsync here?
            //await InvokeAsync(() =>
            //{
            //    StateHasChanged();
            //});
        }
    }
    */

    #endregion Initialization Methods

    #region UI & Form Handling
    private async void HandleNewTeamSubmit()
    {
        await ConstructedTeamService.SaveConstructedTeam(_renderedTeam);
    }

    //private void HandleOnSelectTeamChange(ChangeEventArgs eventArgs)
    private void HandleOnSelectTeamChange(string inputTeamStringId)
    {
        //if (i_teamStringId != _renderedTeamStringId && i_teamStringId != _noTeamSelectedStringId)
        //var inputStringId = eventArgs.Value.ToString();

        //if (inputStringId != _renderedTeamStringId && inputStringId != _noTeamSelectedStringId)
        //{
        //    i_teamStringId = inputStringId;

        //    InvokeAsync(() =>
        //    {
        //        StateHasChanged();
        //    });
        //}

        //i_teamStringId = inputStringId;
        //_renderedTeamStringId = i_teamStringId;

        if (inputTeamStringId == _noTeamSelectedStringId)
        {
            i_teamStringId = string.Empty;
            _inputTeamStringId = string.Empty;
            _renderedTeamId = GetTeamIdFromStringId(_noTeamSelectedStringId);
        }
        else
        {
            i_teamStringId = inputTeamStringId;
            _inputTeamStringId = inputTeamStringId;
            _renderedTeamId = GetTeamIdFromStringId(_inputTeamStringId);
        }

        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    private async void HandleCreateNewTeamSubmit()
    {
        var newTeam = _newTeamForm;

        //Regex nameRegex = new Regex("^[A-Za-z0-9]{1,50}$", RegexOptions.Compiled | RegexOptions.IgnoreCase);
        Regex nameRegex = new Regex("^([A-Za-z0-9](\b \b){0,1}){1,49}[A-Za-z0-9]$", RegexOptions.Compiled | RegexOptions.IgnoreCase);
        if (!nameRegex.Match(newTeam.Name).Success)
        {
            return;
        }

        Regex aliasRegex = new Regex("^[A-Za-z0-9]{1,4}$", RegexOptions.Compiled | RegexOptions.IgnoreCase);
        if (!aliasRegex.Match(newTeam.Alias).Success)
        {
            return;
        }

        //if (string.IsNullOrWhiteSpace(_newTeamForm.Name) || string.IsNullOrWhiteSpace(_newTeamForm.Alias))
        //{
        //    return;
        //}

        var newTeamEntity = await ConstructedTeamService.CreateConstructedTeam(newTeam);

        _newTeamForm = new ConstructedTeam();

        _showCreateNewTeamForm = false;

        if (_openNewTeamOnSave && newTeamEntity != null)
        {
            HandleOnSelectTeamChange(newTeamEntity.Id.ToString());
        }

        _storedTeamsList = await ConstructedTeamService.GetConstructedTeams(true);

        InvokeAsyncStateHasChanged();
    }

    private void HandleCreateNewTeamCancel()
    {
        _newTeamForm = new ConstructedTeam();

        _showCreateNewTeamForm = false;
    }


    private void ToggleCreateNewTeamFormVisibility()
    {
        _showCreateNewTeamForm = !_showCreateNewTeamForm;
    }

    #endregion UI & Form Handling


    public int GetTeamIdFromStringId(string stringId)
    {
        if (int.TryParse(stringId, out int intId))
        {
            return intId;
        }
        else
        {
            return -1;
        }
    }

    private void InvokeAsyncStateHasChanged()
    {
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
}
