@page "/"
@page "/Admin"
@page "/MatchSetup"

@using squittal.ScrimPlanetmans.App.Pages.Shared;
@using squittal.ScrimPlanetmans.App.Pages.Admin.MatchSetup.MatchTeamComposer;
@using squittal.ScrimPlanetmans.CensusStream;
@using squittal.ScrimPlanetmans.Models.Planetside;
@using squittal.ScrimPlanetmans.Models.ScrimEngine
@using squittal.ScrimPlanetmans.ScrimMatch;
@using squittal.ScrimPlanetmans.ScrimMatch.Messages;
@using squittal.ScrimPlanetmans.ScrimMatch.Models;
@using squittal.ScrimPlanetmans.Services.ScrimMatch;
@using squittal.ScrimPlanetmans.Services.Planetside;
@using System.Threading;

@inject IScrimMessageBroadcastService MessageService
@inject IScrimMatchEngine ScrimMatchEngine
@inject IWebsocketMonitor WebsocketMonitor
@inject IScrimMatchScorer MatchScorer
@inject IItemService ItemService
@inject IFacilityService FacilityService
@inject IZoneService ZoneService
@inject IWorldService WorldService
@inject IScrimRulesetManager RulesetManager

@implements IDisposable

<div class="container-fluid">

    @if (!string.IsNullOrWhiteSpace(_errorBannerMessage))
    {
        <ErrorMessageBanner i_ErrorMessage="@_errorBannerMessage" />
    }

    <div class="row">

        <div class="col-lg-4">
            <TeamComposer i_teamOrdinal=1 />
        </div>

        <div class="col-lg-4">
            <TeamComposer i_teamOrdinal=2 />
        </div>

        <div class="col-lg-4">

            <div class="header-card-container default sans-serif-font">

                <div style="display: grid; grid-template-columns: 1fr 115px;">
                    @if (string.IsNullOrWhiteSpace(_matchConfiguration.Title))
                    {
                        <h5>@(_currentRound == 0 ? string.Empty : $"Round {_currentRound}:") @Enum.GetName(typeof(MatchState), _matchState)</h5>
                    }
                    else
                    {
                        <h5>@(_matchConfiguration.Title)@(_currentRound == 0 ? string.Empty : $" - Round {_currentRound}"): @Enum.GetName(typeof(MatchState), _matchState)</h5>
                    }
                    <div class="mono-font" style="font-size: 18px; text-align: right;">
                        <MatchTimer Debug=false />
                    </div>
                </div>

                @* TODO: (1) Move buttons to own components, (2) add hover text to buttons *@
                @if (_isLoading || _isResettingRound || _isClearingMatch || _isStartingRound || _isChangingRuleset || _isEndingRound || _isLoadingActiveRulesetConfig)
                {
                    <span class="thin">
                        <SpinnerEllipsis />
                    </span>
                }
                else if (_matchState == MatchState.Uninitialized && _currentRound == 0 && !_isChangingRuleset)
                {
                    <button class="btn btn-primary" @onclick="StartMatch">
                        <span class="oi oi-media-play"></span>Start Match
                    </button>
                    <button class="btn btn-outline-primary" @onclick="(() => ClearMatch(false))" title="Clear all team data, match data, and match configuration">
                        <span class="oi oi-eject"></span>Clear Match
                    </button>
                }
                else if (_matchState == MatchState.Stopped && _currentRound >= 1)
                {
                    <button class="btn btn-primary" @onclick="StartMatch">
                        <span class="oi oi-media-play"></span>Start Round @(_currentRound + 1)
                    </button>
                    @if (!_isDeleteDataEnabled)
                    {
                        <button disabled class="btn btn-outline-primary">
                            <span class="oi oi-media-step-backward"></span>Reset Round
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-outline-primary" @onclick="ResetRound">
                            <span class="oi oi-media-step-backward"></span>Reset Round
                        </button>
                    }
                    <button class="btn btn-outline-primary" @onclick="(() => ClearMatch(true))" title="Set up a new match with the same teams" style="width: 120px;">
                        <span class="oi oi-media-step-forward"></span>Rematch
                    </button>

                    <button class="btn btn-outline-primary" @onclick="(() => ClearMatch(false))" title="Set up a new match with new teams" style="width: 120px;">
                        <span class="oi oi-eject"></span>New Match
                    </button>

                    <div style="margin: 0.2rem 0;" title="Check to enable the Reset Round button">
                        <EditForm Model="@_isDeleteDataEnabled">
                            <DataAnnotationsValidator />
                            <ValidationSummary />

                            <InputCheckbox id="isDeleteDataEnabledCheckBox" @bind-Value="@_isDeleteDataEnabled" style="position: relative; top: 1px;" /> Enable Round Resetting
                        </EditForm>
                    </div>
                }
                else if (_matchState == MatchState.Paused)
                {
                    <button class="btn btn-primary" @onclick="ResumeRound">
                        <span class="oi oi-media-play"></span>Resume
                    </button>
                }
                else if (_matchState == MatchState.Running)
                {
                    <button class="btn btn-primary" @onclick="PauseRound">
                        <span class="oi oi-media-pause"></span>Pause Round
                    </button>
                    <button class="btn btn-outline-primary" @onclick="EndRound">
                        <span class="oi oi-media-stop"></span> End Round
                    </button>
                }

                @if ((_matchState == MatchState.Uninitialized || _matchState == MatchState.Stopped) && !(_isLoading || _isResettingRound || _isClearingMatch || _isStartingRound || _isChangingRuleset || _isLoadingRulesets || _isLoadingActiveRulesetConfig))
                {
                    @if (_currentRound == 0 && _rulesets != null && _rulesets.Any() && _selectedRuleset != null && !string.IsNullOrWhiteSpace(_inputSelectRulesetStringId))
                    {
                        <EditForm Model="@_inputSelectRulesetStringId" style="display: block; margin-top: 8px;">
                            <DataAnnotationsValidator />
                            <ValidationSummary />

                            <span style="width: 110px; padding-right: 4px; display: inline-block;">Ruleset:</span><InputSelect style="margin-right: 5px; width: 250px; padding: 0.1rem;" Value="@_inputSelectRulesetStringId" ValueChanged="@((string s) => OnChangeRulesetSelection(s))" ValueExpression="@(() => _inputSelectRulesetStringId)">

                                <option value=@_selectedRuleset.Id.ToString() label="@($"{_selectedRuleset.Name} [{_selectedRuleset.Id}]")">@_selectedRuleset.Name [@_selectedRuleset.Id.ToString()]</option>

                                @foreach (var ruleset in _rulesets.Where(r => r.Id != _selectedRuleset.Id))
                                {
                                    <option value=@ruleset.Id.ToString() label="@($"{ruleset.Name} [{ruleset.Id}]")">@ruleset.Name [@ruleset.Id.ToString()]</option>
                                }
                            </InputSelect>
                        </EditForm>
                    }
                    else if (_selectedRuleset != null)
                    {
                        <p style="margin: 0.5rem 0;"><span style="width: 110px; padding-right: 4px; display: inline-block;">Ruleset: </span>@_selectedRuleset.Name [@_selectedRuleset.Id.ToString()]</p>
                    }

                    @*<p>EnableRoundTimeLimit: @_matchConfiguration.EnableRoundTimeLimit</p>
                        <p>EndRoundOnPointValueReached: @_matchConfiguration.EndRoundOnPointValueReached</p>
                        <p>EnablePeriodicFacilityControlRewards: @_matchConfiguration.EnablePeriodicFacilityControlRewards</p>
                        <p>RoundSecondsTotal: @_matchConfiguration.RoundSecondsTotal</p>
                        <p>TargetPointValue: @_matchConfiguration.TargetPointValue</p>
                        <p>PeriodicFacilityControlPoints: @_matchConfiguration.PeriodicFacilityControlPoints</p>
                        <p>PeriodicFacilityControlInterval: @_matchConfiguration.PeriodicFacilityControlInterval</p>*@
                    @*<p>WorldId: @_matchConfiguration.WorldId</p>
                        <p>WorldIdString: @_matchConfiguration.WorldIdString</p>
                        <p>IsWorldIdSet: @_matchConfiguration.IsWorldIdSet</p>*@
                    @*<p>RoundSecondsTotal: @_matchConfiguration.RoundSecondsTotal</p>
                        <p>IsManualRoundSeconds: @_matchConfiguration.IsManualRoundSecondsTotal</p>
                        <p>PeriodicPoints: @_matchConfiguration.PeriodicFacilityControlPoints</p>
                        <p>IsManualPeriodicPoints: @_matchConfiguration.IsManualPeriodicFacilityControlPoints</p>
                        <p>PeriodicInterval: @_matchConfiguration.PeriodicFacilityControlInterval</p>
                        <p>IsManualPeriodicInterval: @_matchConfiguration.IsManualPeriodicFacilityControlInterval</p>*@

                    <EditForm Model="@_matchConfiguration" style="margin-top: 0.5rem;">

                        <p style="margin-bottom: 0.5rem;"><div style="width: 110px; padding-right: 4px; display: inline-block;">Match Title:</div><InputText id="matchTitle" Value="@_matchConfiguration.Title" ValueChanged="@((string s) => OnChangeMatchTitle(s))" ValueExpression="@(() => _matchConfiguration.Title)" style="width: 250px;" maxlength="100" pattern="(?!.)$|^([A-Za-z0-9()\[\]\-_'.][ ]{0,1}){1,49}[A-Za-z0-9()\[\]\-_'.]$" /></p>

                        @if (_matchConfiguration.EnableRoundTimeLimit)
                        {
                            <p style="margin-bottom: 0.5rem;"><span style="width: 110px; padding-right: 4px; display: inline-block;">Round Length:</span><InputNumber min="1" type="text" id="roundSecondsTotal" Value="@_matchConfiguration.RoundSecondsTotal" ValueChanged="@((int s) => OnChangeRoundLength(s))" ValueExpression="@(() => _matchConfiguration.RoundSecondsTotal)" /><span style="padding-left: 4px; width: 64px;">seconds</span></p>
                        }

                        @if (_matchConfiguration.EndRoundOnPointValueReached)
                        {
                            <p style="margin-bottom: 0.5rem;"><span style="width: 110px; padding-right: 4px; display: inline-block;">Point Target:</span><InputNumber min="1" type="text" id="roundPointTarget" Value="@((int)_matchConfiguration.TargetPointValue)" ValueChanged="@((int p) => OnChangeTargetPointValue(p))" ValueExpression="@(() => _matchConfiguration.TargetPointValueNonNullable)" /></p>
                        }

                        @if (_matchConfiguration.EnablePeriodicFacilityControlRewards)
                        {
                            <div style="margin-top: 0.2rem; margin-bottom: 0.2rem;">
                                <p style="font-weight: 500; margin-bottom: 0;">Periodic Facility Control Points</p>
                                <p style="margin-bottom: 0.5rem;"><span style="width: 110px; padding-right: 4px; display: inline-block;">Points:</span><InputNumber min="1" type="text" id="periodicControlPoints" Value="@((int)_matchConfiguration.PeriodicFacilityControlPoints)" ValueChanged="@((int p) => OnChangePeriodicControlPoints(p))" ValueExpression="@(() => _matchConfiguration.PeriodicFacilityControlPointsNonNullable)" /></p>
                                <p style="margin-bottom: 0.5rem;"><span style="width: 110px; padding-right: 4px; display: inline-block;">Interval:</span><InputNumber min="1" type="text" id="periodicControlInterval" Value="@((int)_matchConfiguration.PeriodicFacilityControlInterval)" ValueChanged="@((int s) => OnChangePeriodicControlPointsInterval(s))" ValueExpression="@(() => _matchConfiguration.PeriodicFacilityControlIntervalNonNullable)" /><span style="padding-left: 4px; width: 64px;">seconds</span></p>
                            </div>
                        }

                        <div style="margin-bottom: 0.2rem; margin-top: 0.2rem;">
                            <p style="font-weight: 500; margin-bottom: 0;">Scrim Server & Base</p>


                            @if (_worlds != null)
                            {
                                <InputSelect TValue="string" style="margin-right: 5px; width: 125px; padding: 0.1rem;" Value="@_matchConfiguration.WorldIdString" ValueChanged="@((string s) => OnChangeWorldId(s))" ValueExpression="@(() => _matchConfiguration.WorldIdString)">
                                    @foreach (var world in _worlds)
                                    {
                                        <option value=@world.Id.ToString() label="@world.Name">@world.Name (@world.Id.ToString())</option>
                                    }
                                </InputSelect>
                            }

                            @if (_mapZones != null && _mapRegions != null && _zones != null)
                            {
                                <InputSelect style="margin-right: 5px; width: 250px; padding: 0.1rem;" @bind-Value=@_matchConfiguration.FacilityIdString>
                                    <option value=@_noFacilitIdValue>No Base</option>

                                    @foreach (var zone in _mapZones)
                                            {
                                        <optgroup label="@(_zones.Where(z => zone == z.Id).Select(z => z.Name).FirstOrDefault())" style="background-color: var(--sq-bg-white-unlit); color: var(--sq-pink); font-size: 1rem;">@(_zones.Where(z => zone == z.Id).Select(z => z.Name).FirstOrDefault())</optgroup>

                                        @foreach (var region in _mapRegions.Where(r => r.ZoneId == zone))
                                                {
                                            <option value=@region.FacilityId.ToString() label="@region.FacilityName">@region.FacilityName (@region.FacilityId.ToString())</option>
                                                }
                                            }
                                </InputSelect>
                            }
                        </div>

                        @if (!_matchConfiguration.EnablePeriodicFacilityControlRewards)
                        {
                            <p style="margin-bottom: 0.2rem; margin-top: 8px;"><InputCheckbox id="endRoundOnCapture" Value="@_matchConfiguration.EndRoundOnFacilityCapture" ValueChanged="@((bool b) => OnChangeEndRoundOnFacilityCapture(b))" ValueExpression="@(() => _matchConfiguration.EndRoundOnFacilityCapture)" style="position: relative; top: 1px;" /><span style="padding-left: 8px;">End Round on Base Capture</span></p>
                        }

                    </EditForm>
                }
                else
                {
                    @if (_selectedRuleset != null)
                    {
                        <p style="margin: 0.5rem 0;"><span style="font-weight: 500;">Ruleset: </span>@_selectedRuleset.Name [@_selectedRuleset.Id.ToString()]</p>
                    }

                    @if (_matchConfiguration != null && _matchConfiguration.TargetPointValue.HasValue && _matchConfiguration.TargetPointValue.Value > 0)
                    {
                        <p style="margin: 0.5rem 0;">First to <span style="font-weight: 500;">@(_matchConfiguration.TargetPointValue.Value)</span> points</p>
                    }
                }

                @if (!string.IsNullOrWhiteSpace(_matchId))
                {
                    <p style="color: var(--sq-gray); margin-bottom: 0.2rem; margin-top: 0.5rem;">Match Id: @_matchId</p>
                }

            </div>

            <div class="sq-mini-card-12">
                <AdminLog />
            </div>

            <div class="sq-mini-card-12">
                <StreamLog />
            </div>

        </div>

    </div>

</div>

@code {
    private string _roundSecondsInput = string.Empty;
    private MatchConfiguration _matchConfiguration { get; set; }

    #region Ruleset Select List Variables
    private IEnumerable<Ruleset> _rulesets { get; set; }

    private Ruleset _inputSelectRuleset { get; set; }

    private string _inputSelectRulesetStringId { get; set; }

    private Ruleset _activeRuleset { get; set; }
    private Ruleset _selectedRuleset { get; set; }

    private bool _isLoading { get; set; } = false;
    private bool _isLoadingRulesets { get; set; } = false;
    private bool _isChangingRuleset { get; set; } = false;
    private bool _isLoadingActiveRulesetConfig { get; set; } = false;

    #endregion Ruleset Select List Variables

    #region Facility & World Select List Variables
    private IEnumerable<MapRegion> _mapRegions { get; set; }
    private List<int> _mapZones { get; set; } = new List<int>();
    private IEnumerable<Zone> _zones { get; set; }
    private string _noFacilitIdValue { get; set; } = "-1";

    private IEnumerable<World> _worlds { get; set; }
    #endregion

    private bool _isStreamServiceEnabled { get; set; } = false;

    private string _errorBannerMessage { get; set; }

    private bool _isStartingRound { get; set; } = false;
    private bool _isClearingMatch { get; set; } = false;
    private bool _isResettingRound { get; set; } = false;
    private bool _isEndingRound { get; set; } = false;

    private bool _isDeleteDataEnabled { get; set; } = false;

    private bool _isRunning = false;
    private int _currentRound = 0;
    private MatchState _matchState = MatchState.Uninitialized;

    private string _matchId = string.Empty;

    #region Initialization Methods
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isLoading = true;

            var TaskList = new List<Task>();

            var censusStreamStatusTask = GetCensusStreamStatus();
            TaskList.Add(censusStreamStatusTask);

            var zonesTask = ZoneService.GetAllZones();
            TaskList.Add(zonesTask);

            var worldsTask = WorldService.GetAllWorldsAsync();
            TaskList.Add(worldsTask);

            var rulesetsTask = SetUpRulesetsAsync();
            TaskList.Add(rulesetsTask);

            var activeRulesetConfigTask = SetUpActiveRulesetConfigAsync();
            TaskList.Add(activeRulesetConfigTask);

            await Task.WhenAll(TaskList);

            _worlds = worldsTask.Result.OrderBy(worlds => worlds.Name).ToList();

            _zones = zonesTask.Result;

            _isLoading = false;
            InvokeAsyncStateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        MessageService.RaiseMatchStateUpdateEvent -= ReceiveMatchStateUpdateMessageEvent;
        MessageService.RaiseMatchConfigurationUpdateEvent -= ReceiveMatchConfigurationUpdateMessageEvent;
        MessageService.RaiseRulesetSettingChangeEvent -= ReceiveRulesetSettingChangeEvent;

        MessageService.RaiseMatchStateUpdateEvent += ReceiveMatchStateUpdateMessageEvent;
        MessageService.RaiseMatchConfigurationUpdateEvent += ReceiveMatchConfigurationUpdateMessageEvent;
        MessageService.RaiseRulesetSettingChangeEvent += ReceiveRulesetSettingChangeEvent;

        if (ScrimMatchEngine.MatchConfiguration != null)
        {
            Console.WriteLine($"MatchSetup: fetching MatchConfiguration from ScrimMatchEngine");
            _matchConfiguration = new MatchConfiguration();
            _matchConfiguration.CopyValues(ScrimMatchEngine.MatchConfiguration);
        }
        else
        {
            Console.WriteLine($"MatchSetup: creating new MatchConfiguration");
            _matchConfiguration = new MatchConfiguration();
        }

        _isRunning = ScrimMatchEngine.IsRunning();
        _currentRound = ScrimMatchEngine.GetCurrentRound();
        _matchState = ScrimMatchEngine.GetMatchState();
        _matchId = ScrimMatchEngine.GetMatchId();
    }

    public void Dispose()
    {
        MessageService.RaiseMatchStateUpdateEvent -= ReceiveMatchStateUpdateMessageEvent;
        MessageService.RaiseMatchConfigurationUpdateEvent -= ReceiveMatchConfigurationUpdateMessageEvent;
        MessageService.RaiseRulesetSettingChangeEvent -= ReceiveRulesetSettingChangeEvent;
    }

    private async Task SetUpRulesetsAsync()
    {
        _isLoadingRulesets = true;
        InvokeAsyncStateHasChanged();

        _rulesets = await RulesetManager.GetRulesetsAsync(CancellationToken.None);

        _isLoadingRulesets = false;
        InvokeAsyncStateHasChanged();
    }

    private async Task SetUpActiveRulesetConfigAsync()
    {
        _isLoadingActiveRulesetConfig = true;

        _activeRuleset = await RulesetManager.GetActiveRulesetAsync();

        if (_activeRuleset != null)
        {
            _selectedRuleset = _activeRuleset;
            _inputSelectRulesetStringId = _activeRuleset.Id.ToString();

            if (_matchConfiguration != null)
            {
                var newMatchConfiguration = new MatchConfiguration(_activeRuleset);

                if (_matchConfiguration.IsManualTitle)
                {
                    newMatchConfiguration.TrySetTitle(_matchConfiguration.Title, true);
                }

                // Preserve WorldId settings when changing ruleset
                if (_matchConfiguration.IsWorldIdSet)
                {
                    newMatchConfiguration.TrySetWorldId(_matchConfiguration.WorldIdString, _matchConfiguration.IsManualWorldId);
                }

                if(_matchConfiguration.IsManualRoundSecondsTotal)
                {
                    newMatchConfiguration.TrySetRoundLength(_matchConfiguration.RoundSecondsTotal, true);
                }

                if (_matchConfiguration.IsManualTargetPointValue)
                {
                    newMatchConfiguration.TrySetTargetPointValue(_matchConfiguration.TargetPointValue, true);
                }

                if (_matchConfiguration.IsManualPeriodicFacilityControlPoints)
                {
                    newMatchConfiguration.TrySetPeriodicFacilityControlPoints(_matchConfiguration.PeriodicFacilityControlPoints, true);
                }

                if (_matchConfiguration.IsManualPeriodicFacilityControlInterval)
                {
                    newMatchConfiguration.TrySetPeriodicFacilityControlInterval(_matchConfiguration.PeriodicFacilityControlInterval, true);
                }

                if (_matchConfiguration.IsManualEndRoundOnFacilityCapture)
                {
                    newMatchConfiguration.TrySetEndRoundOnFacilityCapture(_matchConfiguration.EndRoundOnFacilityCapture, true);
                }

                // TODO: carry over old settings depending on what the Round Win Condition is

                _matchConfiguration.CopyValues(newMatchConfiguration);
                MessageService.BroadcastMatchConfigurationUpdateMessage(new MatchConfigurationUpdateMessage(_matchConfiguration));
            }

            if (_activeRuleset.RulesetFacilityRules.Any())
            {
                var mapRegions = _activeRuleset.RulesetFacilityRules.Select(r => r.MapRegion).ToList();
                _mapRegions = mapRegions.OrderBy(r => r.FacilityName).ToList();

                _mapZones = _mapRegions.Select(r => r.ZoneId).Distinct().ToList();
            }
            else
            {
                var mapRegions = await FacilityService.GetScrimmableMapRegionsAsync();

                _mapRegions = mapRegions.OrderBy(r => r.FacilityName).ToList();
                _mapZones = _mapRegions.Select(r => r.ZoneId).Distinct().ToList();
            }
        }

        _isLoadingActiveRulesetConfig = false;
        InvokeAsyncStateHasChanged();
    }
    #endregion Initialization Methods

    #region  Match & Subscription State Buttons
    private async Task GetCensusStreamStatus()
    {
        var status = await WebsocketMonitor.GetStatus();
        _isStreamServiceEnabled = status.IsEnabled;

        if (!_isStreamServiceEnabled)
        {
            SetWebsocketConnectionErrorMessage();
        }
        else
        {
            ClearErrorMessage();
        }
    }

    private void SubscribeToCensus()
    {
        ScrimMatchEngine.SubmitPlayersList();

        LogAdminMessage($"Subscribed all characters to Stream Monitor!");
    }

    private void EndCensusSubscription()
    {
        WebsocketMonitor.RemoveAllCharacterSubscriptions();
        LogAdminMessage($"Removed all characters from Stream Monitor!");
    }

    #region Match Controls
    private async void StartMatch()
    {
        if (_isStartingRound)
        {
            return;
        }

        _isStartingRound = true;

        InvokeAsyncStateHasChanged();

        ScrimMatchEngine.ConfigureMatch(_matchConfiguration);

        await Task.Run(() => ScrimMatchEngine.Start());

        _isRunning = ScrimMatchEngine.IsRunning();
        _currentRound = ScrimMatchEngine.GetCurrentRound();
        _matchState = ScrimMatchEngine.GetMatchState();

        _isDeleteDataEnabled = false;

        _isStartingRound = false;

        InvokeAsyncStateHasChanged();
    }

    private async void EndRound()
    {
        if (ScrimMatchEngine.GetMatchState() == MatchState.Running && !_isEndingRound)
        {
            _isEndingRound = true;
            InvokeAsyncStateHasChanged();

            await Task.Run(() => ScrimMatchEngine.EndRound());

            _isRunning = ScrimMatchEngine.IsRunning();
            _currentRound = ScrimMatchEngine.GetCurrentRound();
            _matchState = ScrimMatchEngine.GetMatchState();

            _isDeleteDataEnabled = false;

            _isEndingRound = false;
            InvokeAsyncStateHasChanged();
        }
    }

    private void PauseRound()
    {
        if (ScrimMatchEngine.GetMatchState() == MatchState.Running)
        {
            ScrimMatchEngine.PauseRound();

            _isRunning = ScrimMatchEngine.IsRunning();
            _currentRound = ScrimMatchEngine.GetCurrentRound();
            _matchState = ScrimMatchEngine.GetMatchState();

            _isDeleteDataEnabled = false;

            InvokeAsyncStateHasChanged();
        }
    }

    private void ResumeRound()
    {
        if (ScrimMatchEngine.GetMatchState() == MatchState.Paused)
        {
            ScrimMatchEngine.ResumeRound();

            _isRunning = ScrimMatchEngine.IsRunning();
            _currentRound = ScrimMatchEngine.GetCurrentRound();
            _matchState = ScrimMatchEngine.GetMatchState();

            _isDeleteDataEnabled = false;

            InvokeAsyncStateHasChanged();
        }
    }

    private async void ClearMatch(bool isRematch)
    {
        if (ScrimMatchEngine.GetMatchState() == MatchState.Stopped || ScrimMatchEngine.GetMatchState() == MatchState.Uninitialized && !_isResettingRound && !_isClearingMatch)
        {
            _isClearingMatch = true;
            _isDeleteDataEnabled = false;

            InvokeAsyncStateHasChanged();

            await Task.Run(() => ScrimMatchEngine.ClearMatch(isRematch));

            _isRunning = ScrimMatchEngine.IsRunning();
            _currentRound = ScrimMatchEngine.GetCurrentRound();
            _matchState = ScrimMatchEngine.GetMatchState();

            _matchConfiguration.CopyValues(ScrimMatchEngine.MatchConfiguration);

            _matchConfiguration.RoundSecondsTotal = _activeRuleset.DefaultRoundLength;
            _matchConfiguration.Title = (_activeRuleset.DefaultMatchTitle == null) ? string.Empty : _activeRuleset.DefaultMatchTitle;

            _isClearingMatch = false;

            InvokeAsyncStateHasChanged();
        }
        else
        {
            _isClearingMatch = false;
            InvokeAsyncStateHasChanged();
        }
    }

    private async void ResetRound()
    {
        if (ScrimMatchEngine.GetMatchState() == MatchState.Stopped && ScrimMatchEngine.GetCurrentRound() > 0 && !_isResettingRound && !_isClearingMatch)
        {
            _isResettingRound = true;
            _isDeleteDataEnabled = false;

            InvokeAsyncStateHasChanged();

            await Task.Run(() => ScrimMatchEngine.ResetRound());

            _isRunning = ScrimMatchEngine.IsRunning();
            _currentRound = ScrimMatchEngine.GetCurrentRound();
            _matchState = ScrimMatchEngine.GetMatchState();

            _isResettingRound = false;

            InvokeAsyncStateHasChanged();
        }
    }
    #endregion Match Controls

    #region Form Handling
    private void OnChangeMatchTitle(string newTitle)
    {
        var oldTitle = _matchConfiguration.Title;

        if (newTitle != oldTitle)
        {
            if (_matchConfiguration.TrySetTitle(newTitle, true))
            {
                //Console.WriteLine($"Set Title succeeded: {newTitle}");

                ScrimMatchEngine.ConfigureMatch(_matchConfiguration);

                InvokeAsyncStateHasChanged();
            }
        }
    }

    private void OnChangeRoundLength(int newLength)
    {
        var oldLength = _matchConfiguration.RoundSecondsTotal;

        if (newLength != oldLength)
        {
            if (_matchConfiguration.TrySetRoundLength(newLength, true))
            {
                //Console.WriteLine($"Set Round Length succeeded: {newLength}");

                ScrimMatchEngine.ConfigureMatch(_matchConfiguration);

                InvokeAsyncStateHasChanged();
            }
        }
    }

    private void OnChangeTargetPointValue(int newTarget)
    {
        var oldTarget = _matchConfiguration.TargetPointValue;

        if (newTarget != oldTarget)
        {
            if (_matchConfiguration.TrySetTargetPointValue(newTarget, true))
            {
                //Console.WriteLine($"Set Target Points succeeded: {newTarget}");

                ScrimMatchEngine.ConfigureMatch(_matchConfiguration);

                InvokeAsyncStateHasChanged();
            }
        }
    }

    private void OnChangePeriodicControlPoints(int newPoints)
    {
        var oldPoints = _matchConfiguration.PeriodicFacilityControlPoints;

        if (newPoints != oldPoints)
        {
            if (_matchConfiguration.TrySetPeriodicFacilityControlPoints(newPoints, true))
            {
                //Console.WriteLine($"Set Periodic Points succeeded: {newPoints}");

                ScrimMatchEngine.ConfigureMatch(_matchConfiguration);

                InvokeAsyncStateHasChanged();
            }
        }
    }

    private void OnChangePeriodicControlPointsInterval(int newInterval)
    {
        var oldInterval = _matchConfiguration.PeriodicFacilityControlInterval;

        if (newInterval != oldInterval)
        {
            if (_matchConfiguration.TrySetPeriodicFacilityControlInterval(newInterval, true))
            {
                //Console.WriteLine($"Set Periodic Interval succeeded: {newInterval}");

                ScrimMatchEngine.ConfigureMatch(_matchConfiguration);

                InvokeAsyncStateHasChanged();
            }
        }
    }

    private void OnChangeWorldId(string newWorldId)
    {
        //Console.WriteLine($"MatchSetup: OnChangeWorldId({newWorldId})");

        var oldWorldId = _matchConfiguration.WorldIdString;

        if (newWorldId != oldWorldId)
        {
            if (_matchConfiguration.TrySetWorldId(newWorldId, true))
            {
                //Console.WriteLine($"MatchSetup: Set WorldId succeeded: {newWorldId}");

                ScrimMatchEngine.ConfigureMatch(_matchConfiguration);

                InvokeAsyncStateHasChanged();
            }
        }
    }

    private void OnChangeEndRoundOnFacilityCapture(bool newSetting)
    {
        var oldSetting = _matchConfiguration.EndRoundOnFacilityCapture;

        if (newSetting != oldSetting)
        {
            if (_matchConfiguration.TrySetEndRoundOnFacilityCapture(newSetting, true))
            {
                //Console.WriteLine($"Set End on Capture succeeded: {newSetting}");

                ScrimMatchEngine.ConfigureMatch(_matchConfiguration);

                InvokeAsyncStateHasChanged();
            }
        }
    }
    #endregion Form Handling

    #endregion Match & Subscription State Buttons


    #region  Event Handling
    private void ReceiveMatchStateUpdateMessageEvent(object sender, ScrimMessageEventArgs<MatchStateUpdateMessage> e)
    {
        var message = e.Message;

        _isRunning = message.MatchState == MatchState.Running;
        _currentRound = message.CurrentRound;
        _matchState = message.MatchState;

        _matchId = message.MatchId;

        _matchConfiguration.Title = message.MatchTitle;

        InvokeAsyncStateHasChanged();
    }

    // ScrimMatchEngine sends out this message after updating the WorldId from players/outfits
    private void ReceiveMatchConfigurationUpdateMessageEvent(object sender, ScrimMessageEventArgs<MatchConfigurationUpdateMessage> e)
    {
        var message = e.Message;

        //Console.WriteLine("MatchSetup: received MatchConfigurationUpdateMessage");

        var config = message.MatchConfiguration;

        var newWorldId = config.WorldIdString;
        var newWorldIdIsManual = config.IsManualWorldId;

        //Console.WriteLine($"MatchSetup: received MatchConfigurationUpdateMessage with WorldId {newWorldId} & IsManualWorldId {newWorldIdIsManual}");
        //Console.WriteLine($"MatchSetup: current WorldId = {newWorldId} & IsManualWorldId = {newWorldIdIsManual}");


        // Set isRollBack=true to force setting WorldId without chaning IsManualWorldId
        var success = _matchConfiguration.TrySetWorldId(newWorldId, newWorldIdIsManual, true);

        InvokeAsyncStateHasChanged();
    }

    private void ReceiveRulesetSettingChangeEvent(object sender, ScrimMessageEventArgs<RulesetSettingChangeMessage> e)
    {
        var message = e.Message;

        if (!message.ChangedSettings.Contains(RulesetSettingChange.DefaultEndRoundOnFacilityCapture))
        {
            return;
        }

        var success = _matchConfiguration.TrySetEndRoundOnFacilityCapture(message.Ruleset.DefaultEndRoundOnFacilityCapture, false);

        if (success)
        {
            InvokeAsyncStateHasChanged();
        }
    }

    #endregion

    #region Ruleset Form Controls
    private async void OnChangeRulesetSelection(string rulesetStringId)
    {
        _isChangingRuleset = true;
        InvokeAsyncStateHasChanged();

        if (!int.TryParse(rulesetStringId, out var rulesetId))
        {
            _isChangingRuleset = false;
            InvokeAsyncStateHasChanged();
            return;
        }

        if (rulesetId == _selectedRuleset.Id || rulesetId == _activeRuleset.Id)
        {
            _isChangingRuleset = false;
            InvokeAsyncStateHasChanged();
            return;
        }

        var newActiveRuleset = await RulesetManager.ActivateRulesetAsync(rulesetId);

        if (newActiveRuleset == null || newActiveRuleset.Id == _activeRuleset.Id)
        {
            _isChangingRuleset = false;
            InvokeAsyncStateHasChanged();
            return;
        }

        _activeRuleset = newActiveRuleset;
        _selectedRuleset = newActiveRuleset;
        _inputSelectRulesetStringId = newActiveRuleset.Id.ToString();

        await SetUpActiveRulesetConfigAsync();

        _isChangingRuleset = false;
        InvokeAsyncStateHasChanged();
    }
    #endregion Ruleset Form Controls

    #region Log Messages
    private void LogAdminMessage(string message)
    {
        Task.Run(() =>
        {
            MessageService.BroadcastSimpleMessage(message);
        }).ConfigureAwait(false);
    }
    #endregion Log Messages

    #region Error Messages
    private void ClearErrorMessage()
    {
        _errorBannerMessage = string.Empty;
    }

    private void SetWebsocketConnectionErrorMessage()
    {
        _errorBannerMessage = "Failed to connect to the Planetside 2 Websocket";
    }
    #endregion Error Messages

    private void InvokeAsyncStateHasChanged()
    {
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
}