@using squittal.ScrimPlanetmans.ScrimMatch;
@using squittal.ScrimPlanetmans.ScrimMatch.Messages;
@using squittal.ScrimPlanetmans.ScrimMatch.Models;
@using squittal.ScrimPlanetmans.Services.ScrimMatch;

@inject IScrimTeamsManager ScrimTeamsManager
@inject IScrimMessageBroadcastService MessageService

@implements IDisposable

@if (_team != null)
{
    <div id="@($"{_team.Alias}-stats")" class="stats-row team">
        <div id="@($"{_team.Alias}-label")" class="label">@_team.Alias</div>
        <div id="@($"{_team.Alias}-score")" class="score stats-value" style="opacity: @GetStatOpacity(_renderedEventAggregate.Points);">@_renderedEventAggregate.Points</div>
        <div id="@($"{_team.Alias}-net")" class="net stats-value">@_renderedEventAggregate.NetScore</div>
        <div id="@($"{_team.Alias}-kills")" class="kills stats-value" style="opacity: @GetStatOpacity(_renderedEventAggregate.Kills);">@_renderedEventAggregate.Kills</div>
        <div id="@($"{_team.Alias}-deaths")" class="deaths stats-value" style="opacity: @GetStatOpacity(_renderedEventAggregate.Deaths);">@_renderedEventAggregate.Deaths</div>
        @if (_showHsr)
        {
            <div id="@($"{_team.Alias}-hsr")" class="hsr stats-value" style="opacity: @GetStatOpacity((int)_renderedEventAggregate.HeadshotRatio);">@Math.Round(_renderedEventAggregate.HeadshotRatio, 0)<span style="font-size: small;">%</span></div>
        }
        <div id="@($"{_team.Alias}-assists")" class="assists stats-value" style="opacity: @GetStatOpacity(_renderedEventAggregate.DamageAssists);">@_renderedEventAggregate.DamageAssists</div>
        <div id="@($"{_team.Alias}-utils")" class="utils stats-value" style="opacity: @GetStatOpacity(_renderedEventAggregate.GrenadeAssists);">@_renderedEventAggregate.GrenadeAssists</div>
    </div>
}

@code {
    [Parameter]
    public int i_TeamOrdinal { get; set; }
    private int _renderedTeamOrdinal { get; set; }

    [Parameter]
    public bool i_showHsr { get; set; } = true;
    private bool _showHsr { get; set; } = true;

    private Team _team { get; set; }


    private ScrimEventAggregate _renderedEventAggregate { get; set; } = new ScrimEventAggregate();

    #region Initialization Methods
    protected override void OnInitialized()
    {
        MessageService.RaiseTeamStatUpdateEvent += ReceiveTeamStatUpdateEvent;
        MessageService.RaiseTeamAliasChangeEvent += ReceiveTeamAliasChangeEvent;

        if (_team == null)
        {
            _team = ScrimTeamsManager.GetTeam(i_TeamOrdinal);
            _renderedEventAggregate = new ScrimEventAggregate();
            _renderedEventAggregate.Add(_team.EventAggregate);
        }
        else
        {
            _renderedEventAggregate = new ScrimEventAggregate();
            _renderedEventAggregate.Add(_team.EventAggregate);
        }
    }

    public void Dispose()
    {
        MessageService.RaiseTeamStatUpdateEvent -= ReceiveTeamStatUpdateEvent;
        MessageService.RaiseTeamAliasChangeEvent -= ReceiveTeamAliasChangeEvent;
    }

    protected override void OnParametersSet()
    {
        var legacyUiChanged = false;

        if (i_showHsr != _showHsr)
        {
            _showHsr = i_showHsr;
            legacyUiChanged = true;
        }

        if (i_TeamOrdinal != _renderedTeamOrdinal || legacyUiChanged)
        {
            _renderedTeamOrdinal = i_TeamOrdinal;
            _team = ScrimTeamsManager.GetTeam(_renderedTeamOrdinal);

            _renderedEventAggregate = new ScrimEventAggregate();
            _renderedEventAggregate.Add(_team.EventAggregate);

            InvokeAsyncStateHasChanged();
        }
    }
    #endregion Initialization Methods

    #region Event Handling
    private void ReceiveTeamStatUpdateEvent(object sender, ScrimMessageEventArgs<TeamStatUpdateMessage> e)
    {
        var team = e.Message.Team;

        if (team.TeamOrdinal == i_TeamOrdinal)
        {
            if (RenderedStatsHaveChanged(team.EventAggregate))
            {
                _renderedEventAggregate = new ScrimEventAggregate();
                _renderedEventAggregate.Add(_team.EventAggregate);

                InvokeAsyncStateHasChanged();
            }
        }
    }

    private void ReceiveTeamAliasChangeEvent(object sender, ScrimMessageEventArgs<TeamAliasChangeMessage> e)
    {
        var message = e.Message;

        var teamOrdinal = message.TeamOrdinal;

        if (teamOrdinal != i_TeamOrdinal)
        {
            return;
        }

        InvokeAsyncStateHasChanged();
    }
    #endregion EventHandling

    private bool RenderedStatsHaveChanged(ScrimEventAggregate newAggregate)
    {
        if (_renderedEventAggregate.Points != newAggregate.Points)
        {
            return true;
        }
        else if (_renderedEventAggregate.NetScore != newAggregate.NetScore)
        {
            return true;
        }
        else if (_renderedEventAggregate.Kills != newAggregate.Kills)
        {
            return true;
        }
        else if (_renderedEventAggregate.HeadshotRatio != newAggregate.HeadshotRatio)
        {
            return true;
        }
        else if (_renderedEventAggregate.DamageAssists != newAggregate.DamageAssists)
        {
            return true;
        }
        else if (_renderedEventAggregate.GrenadeAssists != newAggregate.GrenadeAssists)
        {
            return true;
        }
        else
        {
            return false;
        }
    }

    private double GetStatOpacity(int value)
    {
        return (value != 0)
            ? 1.0
            : 0.5;
    }

    private void InvokeAsyncStateHasChanged()
    {
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
}
