@using squittal.ScrimPlanetmans.ScrimMatch;
@using squittal.ScrimPlanetmans.Models;
@using squittal.ScrimPlanetmans.ScrimMatch.Messages;
@using squittal.ScrimPlanetmans.ScrimMatch.Models;
@using squittal.ScrimPlanetmans.Services.ScrimMatch;

@inject IScrimMessageBroadcastService MessageService

@implements IDisposable

<td style="opacity: @GetStatOpacity(EventAggregate.Kills);">@(EventAggregate.Kills)</td>
<td style="opacity: @GetStatOpacity(EventAggregate.Deaths);">@(EventAggregate.Deaths)</td>
<td style="opacity: @GetStatOpacity(EventAggregate.KillDeathRatio);">@(EventAggregate.KillDeathRatio)</td>
<td style="opacity: @GetStatOpacity(EventAggregate.Teamkills);">@(EventAggregate.Teamkills)</td>
<td style="opacity: @GetStatOpacity(EventAggregate.TeamkillDeaths);">@(EventAggregate.TeamkillDeaths)</td>
<td style="opacity: @GetStatOpacity(EventAggregate.Suicides);">@(EventAggregate.Suicides)</td>
<td style="opacity: @GetStatOpacity(EventAggregate.HeadshotRatio);">@(EventAggregate.HeadshotRatio)%</td>
<td style="opacity: @GetStatOpacity(EventAggregate.HeadshotDeathRatio);">@(EventAggregate.HeadshotDeathRatio)%</td>
<td style="opacity: @GetStatOpacity(EventAggregate.RevivesGiven);">@(EventAggregate.RevivesGiven)</td>
<td style="opacity: @GetStatOpacity(EventAggregate.RevivesTaken);">@(EventAggregate.RevivesTaken)</td>
<td style="opacity: @GetStatOpacity(EventAggregate.DamageAssists);">@(EventAggregate.DamageAssists)</td>
<td style="opacity: @GetStatOpacity(EventAggregate.UtilityAssists);">@(EventAggregate.UtilityAssists)</td>
<td style="opacity: @GetStatOpacity(EventAggregate.DamageAssistedDeaths);">@(EventAggregate.DamageAssistedDeaths)</td>
<td style="opacity: @GetStatOpacity(EventAggregate.UtilityAssistedDeaths);">@(EventAggregate.UtilityAssistedDeaths)</td>
<td style="opacity: @GetStatOpacity(EventAggregate.ObjectiveDefenseTicks);">@(EventAggregate.ObjectiveDefenseTicks)</td>
<td style="opacity: @GetStatOpacity(EventAggregate.ObjectiveCaptureTicks);">@(EventAggregate.ObjectiveCaptureTicks)</td>
<td style="opacity: @GetStatOpacity(EventAggregate.Points);">@(EventAggregate.Points)</td>
<td style="font-weight: 700; font-size: larger; opacity: @GetStatOpacity(EventAggregate.NetScore);">@(EventAggregate.NetScore)</td>

@code {
    [Parameter]
    public ScrimEventAggregate EventAggregate { get; set; }

    [Parameter]
    public string PlayerId { get; set; }

    #region Initialization Methods
    protected override void OnInitialized()
    {
        MessageService.RaisePlayerStatUpdateEvent += ReceivePlayerStatUpdateEvent;
    }

    public void Dispose()
    {
        MessageService.RaisePlayerStatUpdateEvent -= ReceivePlayerStatUpdateEvent;
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }
    #endregion Initialization Methods

    #region Event Handling
    private void ReceivePlayerStatUpdateEvent(object sender, PlayerStatUpdateEventArgs e)
    {
        InvokeSateHasChangedIfPlayer(e.Message.Player);
    }

    private void InvokeSateHasChangedIfPlayer(Player eventPlayer)
    {
        if (eventPlayer.Id != PlayerId || PlayerId != "team")
        {
            return;
        }

        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
    #endregion Event Handling

    private double GetStatOpacity(int value)
    {
        return (value != 0)
            ? 1.0
            : 0.5;
    }

    private double GetStatOpacity(double value)
    {
        return (value != 0.0)
            ? 1.0
            : 0.5;
    }
}
